@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:wght@100;400&family=Oswald:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    box-sizing: border-box;
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f4f4f4;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #818cf8;
    border-top: 1px solid #333;
    border-bottom: 1px solid #777;
}


@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 5px;
    }
}